@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 10px/16px = 0.625px  or 62.5%*/
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.section__header {
  text-align: center;
  margin: 5rem 0;
}

.heading-h2 {
  font-size: clamp(2.6rem, 5vw, 4rem);
}

.p-line {
  font-size: clamp(1.8rem, 1vw, 2rem);
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  80% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes moveInRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  80% {
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.col-2 {
  flex: 1 1 40rem;
}

@media only screen and (min-width: 48em) {
  .col-3 {
    flex: 0 1 calc(100% / 2 - 1.5rem);
  }
}
@media only screen and (min-width: 75.5em) {
  .col-3 {
    flex: 0 1 calc(100% / 3 - 1.5rem);
  }
}

@media only screen and (min-width: 48em) {
  .col-4 {
    flex: 1 1 40%;
  }
}
@media only screen and (min-width: 75.5em) {
  .col-4 {
    max-width: 20rem;
    flex: 1 1 20%;
  }
}

.navbar {
  font-size: 1.4rem;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 1.7rem;
  transition: transform 1s;
}
.navbar__logo a {
  font-size: 1.6rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__logo img {
  width: 3rem;
}
.navbar__logo p {
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 0.652rem;
}
.navbar__menu {
  align-items: center;
  justify-content: center;
  font-weight: 400;
  display: flex;
}
@media only screen and (max-width: 63.063em) {
  .navbar__menu {
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    bottom: 20rem;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(6rem);
  }
}
.navbar__menu.openMenuMobile {
  background: rgba(19, 19, 19, 0.8);
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s ease;
}
.navbar__menu li {
  margin: 1rem;
}
.navbar__menu li a {
  color: #fff;
  text-transform: uppercase;
}
@media only screen and (min-width: 64em) {
  .navbar__menu li:nth-child(6) {
    display: none;
  }
}
.navbar__location {
  display: none;
  font-weight: 400;
}
@media only screen and (min-width: 64em) {
  .navbar__location {
    display: flex;
  }
}
.navbar__location li a {
  color: #fff;
  text-transform: uppercase;
}
.navbar__hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
@media only screen and (max-width: 63.063em) {
  .navbar__hamburger {
    display: flex;
  }
}
.navbar__hamburger span {
  display: block;
  background: #fff;
  width: 2rem;
  height: 0.265rem;
  margin-top: 0.265rem;
  margin-bottom: 0.265rem;
  transition: all 250ms ease;
}
.navbar__hamburger.active span:nth-child(1) {
  margin: 8px auto;
  transform: translateY(13px) rotate(45deg);
}
.navbar__hamburger.active span:nth-child(2) {
  opacity: 0;
}
.navbar__hamburger.active span:nth-child(3) {
  margin: 8px auto;
  transform: translateY(-13px) rotate(-45deg);
}

.header {
  background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(/img/hero.jpg);
  background-size: cover;
  height: 70rem;
  position: relative;
}
.header__text {
  text-align: center;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50rem;
}
.header__text h1 {
  font-size: clamp(4rem, 7vw, 8rem);
  text-transform: uppercase;
  transition: all 250ms ease;
  margin: 0;
}
.header__text p {
  width: 80%;
  max-width: 52rem;
  font-size: clamp(1.6rem, 2vw, 2rem);
}
.header__text .btn--bg--white {
  background: #fff;
}
.header__text .btn--text--colored {
  color: #ed4c5c;
}

.manage {
  padding: 8rem 0;
}
.manage .d-flex-layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.manage__text {
  animation: moveInLeft 1.5s forwards 0s linear;
}
@media only screen and (min-width: 64em) {
  .manage__text {
    padding-right: 8rem;
  }
}
@media only screen and (max-width: 63.063em) {
  .manage__text {
    padding-bottom: 6rem;
  }
}
.manage__video {
  animation: moveInRight 1.5s forwards 0s linear;
  position: relative;
}
.manage__video img {
  border-radius: 2rem;
}
.manage__video-play {
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
}
@media only screen and (min-width: 48em) {
  .manage__video-play {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 63.063em) {
  .manage__video-play {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.manage__video-play .fa-play {
  background: #ed4c5c;
  color: #fff;
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
}
.manage .link {
  text-transform: capitalize;
  color: #ed4c5c;
  display: block;
  font-size: clamp(1.8rem, 1vw, 2rem);
}

.featured {
  padding: 8rem 0;
  background: #fafafa;
}
.featured .d-flex-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.technology {
  padding: 5rem 0;
}
.technology .d-flex-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 63.063em) {
  .technology .d-flex-layout {
    justify-content: center;
    align-items: center;
  }
}

.app {
  padding: 8rem 0;
  background: #ed4c5c;
  color: #fff;
  overflow: hidden;
}
.app .d-flex-layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.app__text {
  transform: translateX(-8rem);
}
@media only screen and (min-width: 64em) {
  .app__text {
    padding-right: 8rem;
  }
}
@media only screen and (max-width: 63.063em) {
  .app__text {
    padding-bottom: 6rem;
  }
}
.app__social {
  font-size: clamp(1.8rem, 1vw, 2rem);
}
.app__social a {
  color: #fff;
  margin-right: 2rem;
}
.app__video-slider {
  transform: translateX(8rem);
}
.app__video-slider img {
  border-radius: 2rem;
}
.app__text, .app__video-slider {
  opacity: 0;
  transition: all 1s ease;
}
.app__text.animate_in, .app__video-slider.animate_in {
  opacity: 1;
  transform: translateX(0);
}

.contact {
  padding: 8rem 0;
  overflow: hidden;
}
.contact .d-flex-layout {
  display: flex;
  flex-wrap: wrap;
}
.contact h2 {
  margin: 0;
}
.contact__text {
  transform: translateX(-8rem);
}
@media only screen and (min-width: 64em) {
  .contact__text {
    padding-right: 8rem;
  }
}
@media only screen and (max-width: 63.063em) {
  .contact__text {
    padding-bottom: 6rem;
  }
}
.contact__form {
  transform: translateX(8rem);
}
.contact__text, .contact__form {
  opacity: 0;
  transition: all 1s ease;
}
.contact__text.animate_in, .contact__form.animate_in {
  opacity: 1;
  transform: translateX(0);
}

.footer {
  background: #fafafa;
}
.footer__widgets {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: clamp(1.8rem, 1vw, 2rem);
}
.footer__widget {
  margin: 0 1rem 1rem;
  max-width: 20rem;
  flex: 1 1 40%;
}
@media only screen and (max-width: 74.938em) {
  .footer__widget {
    max-width: 40rem;
  }
}
@media only screen and (max-width: 47.938em) {
  .footer__widget {
    flex: 1 1 50%;
  }
}
@media only screen and (min-width: 25em) {
  .footer__widget img {
    width: auto;
  }
}
.footer__widget-links li a {
  display: block;
  text-transform: capitalize;
  margin-bottom: 0.352rem;
}
.footer__widget-social {
  display: flex;
}
.footer__widget-social li {
  padding-right: 2rem;
}
.footer__widget-social li a {
  color: #101010;
  transition: all 250ms ease;
}
.footer__widget-social li a:hover {
  color: #ee3d1b;
}
.footer__creds {
  font-size: clamp(1.8rem, 1vw, 2rem);
  padding: 3rem 0;
}
@media only screen and (max-width: 63.063em) {
  .footer__creds {
    padding-top: 2rem;
    text-align: center;
  }
}
.footer__creds p {
  margin: 0;
}

.btn {
  padding: 1rem 3rem;
  border-radius: 0.652rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.4rem;
}

.featured__post {
  position: relative;
  font-size: 1.6rem;
  margin-bottom: 14rem;
  opacity: 0;
  transform: translateY(8rem);
  transition: all 1s ease;
}
.featured__post.animate_up {
  opacity: 1;
  transform: translateY(0);
}
.featured__post:nth-child(1) {
  transition-delay: 0.1s;
}
.featured__post:nth-child(2) {
  transition-delay: 0.2s;
}
.featured__post:nth-child(3) {
  transition-delay: 0.3s;
}
.featured__post img {
  border-radius: 1rem;
}
.featured__post .text-content {
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  bottom: -10rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 2rem;
  padding-top: 1rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}
.featured__post .link {
  text-transform: capitalize;
  color: #ed4c5c;
  display: block;
  font-size: 1.6rem;
}

.technology__item {
  text-align: center;
  font-size: clamp(1.8rem, 1vw, 2rem);
  position: relative;
  margin: 8rem 1rem 1rem;
  padding: 1rem;
  opacity: 0;
  transform: translateY(8rem);
  transition: all 1s ease;
}
.technology__item .fas {
  color: #ed4c5c;
  font-size: 5rem;
}
.technology__item:nth-child(1):before {
  content: "01";
}
.technology__item:nth-child(2):before {
  content: "02";
}
.technology__item:nth-child(3):before {
  content: "03";
}
.technology__item:nth-child(4):before {
  content: "04";
}
.technology__item:nth-child(1):before, .technology__item:nth-child(2):before, .technology__item:nth-child(3):before, .technology__item:nth-child(4):before {
  color: rgba(16, 16, 16, 0.08);
  position: absolute;
  left: 0;
  right: 0;
  top: -6.8rem;
  font-weight: bold;
  font-size: 10rem;
  line-height: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.technology__item.animate_up {
  opacity: 1;
  transform: translateX(0);
}
.technology__item:nth-child(1) {
  transition-delay: 0.1s;
}
.technology__item:nth-child(2) {
  transition-delay: 0.2s;
}
.technology__item:nth-child(3) {
  transition-delay: 0.3s;
}
.technology__item:nth-child(4) {
  transition-delay: 0.4s;
}

.contact__form .form input,
.contact__form .form select,
.contact__form .form option {
  color: #132743;
}
.contact__form .form input,
.contact__form .form select {
  width: 100%;
  padding: 2rem 1.8rem 2rem;
  border-radius: 1rem;
  border: 1px solid #333333;
  outline: none;
}
.contact__form .form select {
  appearance: none;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
  background-position-x: 97%;
}
.contact__form .form__col-2-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact__form .form__col-2-input .col {
  flex: 0 1 48%;
}
.contact__form .form__input {
  margin-bottom: 2rem;
}
.contact__form .form__btn {
  cursor: pointer;
  display: block;
  background: #ed4c5c;
  border: none;
  padding: 2rem 3rem;
}

/*# sourceMappingURL=style.css.map */
