@use '../abstracts/' as var;
@use '../layout/mediaquery' as response;
@use '../layout/layouts' as flex;

.app {
  padding: 8rem 0;
  background: var.$link-text-color;
  color: #fff;
  overflow: hidden;

  @include flex.flex-layout(twoCol);

  &__text {
    transform: translateX(-8rem);
    @include response.min-width-breakpoints(laptop) {
      padding-right: 8rem;
    }
    @include response.max-width-breakpoints(laptop) {
      padding-bottom: 6rem;
    }
  }

  &__social {
    font-size: clamp(1.8rem, 1vw, 2rem);
    a {
      color: #fff;
      margin-right: 2rem;
    }
  }

  &__video-slider {
    transform: translateX(8rem);
    img {
      border-radius: 2rem;
    }
  }

  &__text,
  &__video-slider {
    opacity: 0;
    transition: all 1s ease;
  }

  &__text.animate_in,
  &__video-slider.animate_in {
    opacity: 1;
    transform: translateX(0);
  }
}
