@use '../layout/layouts' as flex;
@use '../layout/mediaquery' as response;
.contact {
  padding: 8rem 0;

  .d-flex-layout {
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    margin: 0;
  }

  &__text {
    transform: translateX(-8rem);
    @include response.min-width-breakpoints(laptop) {
      padding-right: 8rem;
    }
    @include response.max-width-breakpoints(laptop) {
      padding-bottom: 6rem;
    }
  }

  &__form {
    transform: translateX(8rem);
  }

  &__text,
  &__form {
    opacity: 0;
    transition: all 1s ease;
  }

  &__text.animate_in,
  &__form.animate_in {
    opacity: 1;
    transform: translateX(0);
  }
}
