@use 'mediaquery' as response;

@mixin flex-center {
  align-items: center;
  justify-content: center;
}

@mixin flex-sb {
  justify-content: space-between;
  align-items: center;
}

@mixin flex-se {
  justify-content: space-evenly;
  align-items: center;
}

@mixin flex-layout($col) {
  .d-flex-layout {
    display: flex;
    flex-wrap: wrap;
    @if ($col == twoCol) {
      align-items: center;
    } @else if($col == threeCol) {
      @include flex-sb;
    } @else if($col == fourCol) {
      justify-content: space-between;
      align-items: flex-start;
      @include response.max-width-breakpoints(laptop) {
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.col-2 {
  flex: 1 1 40rem;
}

.col-3 {
  @include response.min-width-breakpoints(tablet) {
    flex: 0 1 calc(100% / 2 - 1.5rem);
  }
  @include response.min-width-breakpoints(desktop) {
    flex: 0 1 calc(100% / 3 - 1.5rem);
  }
}

.col-4 {
  @include response.min-width-breakpoints(tablet) {
    flex: 1 1 40%;
  }

  @include response.min-width-breakpoints(desktop) {
    max-width: 20rem;
    flex: 1 1 20%;
  }
}
