@use '../base/typography' as text;

.featured__post {
  position: relative;
  font-size: 1.6rem;
  margin-bottom: 14rem;
  opacity: 0;
  transform: translateY(8rem);
  transition: all 1s ease;

  &.animate_up {
    opacity: 1;
    transform: translateY(0);
  }

  &:nth-child(1) {
    transition-delay: 0.1s;
  }

  &:nth-child(2) {
    transition-delay: 0.2s;
  }

  &:nth-child(3) {
    transition-delay: 0.3s;
  }

  img {
    border-radius: 1rem;
  }

  .text-content {
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    bottom: -10rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 2rem;
    padding-top: 1rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  }
  @include text.linkTag(three);
}
