@use '../abstracts/' as var;

.technology__item {
  text-align: center;
  font-size: clamp(1.8rem, 1vw, 2rem);
  position: relative;
  margin: 8rem 1rem 1rem;
  padding: 1rem;
  opacity: 0;
  transform: translateY(8rem);
  transition: all 1s ease;

  .fas {
    color: var.$link-text-color;
    font-size: 5rem;
  }

  &:nth-child(1):before {
    content: "01";
  }
  &:nth-child(2):before {
    content: "02";
  }
  &:nth-child(3):before {
    content: "03";
  }
  &:nth-child(4):before {
    content: "04";
  }

  &:nth-child(1):before,
  &:nth-child(2):before,
  &:nth-child(3):before,
  &:nth-child(4):before {
    color: rgba(16, 16, 16, 0.08);
    position: absolute;
    left: 0;
    right: 0;
    top: -6.8rem;
    font-weight: bold;
    font-size: 10rem;
    line-height: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &.animate_up {
    opacity: 1;
    transform: translateX(0);
  }

  &:nth-child(1) {
    transition-delay: 0.1s;
  }

  &:nth-child(2) {
    transition-delay: 0.2s;
  }

  &:nth-child(3) {
    transition-delay: 0.3s;
  }

  &:nth-child(4) {
    transition-delay: 0.4s;
  }
}
