@use '../abstracts/variables' as var;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px/16px = 0.625px  or 62.5%*/
}

body {
  font-family: var.$site-font;
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}
